.grid{
  overflow: auto;
}
.grid > table{
   border-collapse : collapse;      
}

.gridtag{
   width : 150px;
   height : 25px;
   margin : 0px;
   border : none;
   outline : none;
   background-color: white;

}

.grid th{
  border : solid 1px silver; 
  background: -webkit-linear-gradient(#A9A9A9, #E8E8E8); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(#A9A9A9, #E8E8E8); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(#A9A9A9, #E8E8E8); /* For Firefox 3.6 to 15 */
  background: linear-gradient(#A9A9A9, #E8E8E8); /* Standard syntax */  
}

.grid > .tablegrid > tbody > tr > td{
   border : solid 1px silver;    
}

.btnFooterGrid{
  text-decoration : none;
  color : red;
}

.separador{
   color : gray;
   text-decoration : none;
}

.disabled{
  background: #dddddd;
}
